{% extends 'base.html' %}
{% load static %}
{% block body %}

    <!-- ***** Call to Action Start ***** -->
    <section class="section section-bg" id="call-to-action" style="background-image: url(/static/assets/images/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Our <em>Cars</em></h2>
                        <p>We are offering cars with best prices in the market.<br>Quality that reflects.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Call to Action End ***** -->

    <!-- ***** Fleet Starts ***** -->
    <section class="section" id="trainers">
        <div class="container">
            <br>
            <br>
            <div class="row">
                
                {%for product in products %}
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img id="myimgs" src="/media/{{product.image_1}}" alt="">
                        </div>
                        <div class="down-content">
                            <span>
                               <h3> &#x20b9;{{product.product_price}}</h3>
                            </span>

                            <h4>{{product.product_name}}</h4>

                            <p>
                                <i class="fa fa-dashboard"></i> {{product.kilometers_driven}} km&nbsp;&nbsp;&nbsp;
                                <i class="fa fa-cube"></i> {{product.fuel}} &nbsp;&nbsp;&nbsp;
                                <i class="fa fa-cog"></i> {{product.year}} &nbsp;&nbsp;&nbsp;
                            </p>

                            <ul class="social-icons">
                                <li><a href="/cardetails/{{product.id}}">+ View Car</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>

            <br>
                
           

        </div>
    </section>
    <!-- ***** Fleet Ends ***** -->
{% endblock body %}
    
{% block js %}
    <!-- jQuery -->
    <script src="{% static '/assets/js/jquery-2.1.0.min.js' %}?{% now "U" %}"></script>

    <!-- Bootstrap -->
    <script src="{% static '/assets/js/popper.js' %}?{% now "U" %}"></script>
    <script src="{% static '/assets/js/bootstrap.min.js' %}?{% now "U" %}"></script>

    <!-- Plugins -->
    <script src="{% static '/assets/js/scrollreveal.min.js' %}?{% now "U" %}"></script>
    <script src="{% static '/assets/js/waypoints.min.js' %}?{% now "U" %}"></script>
    <script src="{% static '/assets/js/jquery.counterup.min.js' %}?{% now "U" %}"></script>
    <script src="{% static '/assets/js/imgfix.min.js' %}?{% now "U" %}"></script> 
    <script src="{% static '/assets/js/mixitup.js' %}?{% now "U" %}"></script> 
    <script src="{% static '/assets/js/accordions.js' %}?{% now "U" %}"></script>
    
    <!-- Global Init -->
    <script src="{% static '/assets/js/custom.js' %}?{% now "U" %}"></script>
{% endblock js %}
  </body>
</html>