<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Welcome to WowCars.in | Your one stop destination for used cars</title>
     {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/bootstrap.min.css' %}?{% now "U" %}">

    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/font-awesome.css' %}?{% now "U" %}">

    <link rel="stylesheet" href="{% static '/assets/css/style.css' %}?{% now "U" %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">Wow<em> cars</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/cars">Cars</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/contact" class="active">Contact</a></li> 
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <section class="section section-bg" id="call-to-action" style="background-image: url(/static/assets/images/banner-image-1-1920x500.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <div class="cta-content">
              <br>
              <br>
              <h2>Feel free to <em>Contact Us</em></h2>
              <p>You can contact us by using any of the methods mentioned below:</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="messagearea">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}
    {% endif %}
    </div>

    <!-- ***** Features Item Start ***** -->
    <section class="section" id="features">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>contact <em> info</em></h2>
                        <img src="{% static '/assets/images/line-dec.png' %}?{% now "U" %}" alt="waves">
                         
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="icon">
                        <i class="fa fa-phone"></i>
                    </div>

                    <h5><a class="myanchor" href="tel:7985275306">+91 7985275306</a></h5>

                    <br>
                </div>
                <div class="col-md-4">
                    <div class="icon">
                        <i class="fa fa-whatsapp"></i>
                    </div>

                    <h5><a class="myanchor" target="_blank" href="https://api.whatsapp.com/send?phone=9839288005&text=Hello I am interested in your cars">+91 9839288005</a></h5>

                    <br>
                </div>

                <div class="col-md-4">
                    <div class="icon">
                        <i class="fa fa-envelope"></i>
                    </div>

                    <h5><a class="myanchor" href="mailto:wowcars2020@gmail.com">wowcars2020@gmail.com</a></h5>

                    <br>
                </div>

                <div class="col-md-4">
                    <div class="icon">
                        <i class="fa fa-map-marker"></i>
                    </div>

                    <h5><a class="myanchor" target="_blank" href="https://www.google.com/maps?ll=26.439033,80.315664&z=15&t=m&hl=en&gl=US&mapclient=embed&q=Juhi+Lal+Colony+Juhi+Kalan,+Juhi+Kanpur,+Uttar+Pradesh"> Juhi Lal Colony <br> Kanpur</a></h5>

                    <br>
                </div>
                <div class="col-md-4">
                    <div class="icon">
                        <i class="fa fa-facebook"></i>
                    </div>

                    <h5><a class="myanchor" target="_blank" href="https://www.facebook.com/wowcars2020">Facebook Group</a></h5>

                    <br>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Item End ***** -->
   
    <!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="contact-us" style="margin-top: 0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div id="map">
                    
                      <iframe src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=Juhi%20Lal%20Colony%20Kanpur+(Wow%20Cars)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="contact-form section-bg" style="background-image: url(/static/assets/images/contact-1-720x480.jpg)">
                        <form id="contact" action="/contact/" method="post">{% csrf_token %}
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Your Name*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-12 col-sm-12">
                              <fieldset>
                                <input name="subject" type="text" id="subject" placeholder="Subject">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Send Message</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                      All Rights Reserved | Copyright © 2021 WowCars.in
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static '/assets/js/jquery-2.1.0.min.js' %}?{% now "U" %}"></script>

    <!-- Bootstrap -->
    <script src="{% static '/assets/js/popper.js' %}?{% now "U" %}"></script>
    <script src="{% static '/assets/js/bootstrap.min.js' %}?{% now "U" %}"></script>

    <!-- Plugins -->
    <script src="{% static '/assets/js/scrollreveal.min.js' %}?{% now "U" %}"></script>
    <script src="{% static '/assets/js/waypoints.min.js' %}?{% now "U" %}"></script>
    <script src="{% static '/assets/js/jquery.counterup.min.js' %}?{% now "U" %}"></script>
    <script src="{% static '/assets/js/imgfix.min.js' %}?{% now "U" %}"></script> 
    <script src="{% static '/assets/js/mixitup.js' %}?{% now "U" %}"></script> 
    <script src="{% static '/assets/js/accordions.js' %}?{% now "U" %}"></script>
    <!-- Global Init -->
    <script src="{% static '/assets/js/custom.js' %}?{% now "U" %}"></script>

  </body>
</html>